@font-face {
    font-family: SuperMario;
    src: url(../fuentes/SuperMario256.ttf);
}
:root{
    --urlFondo: url(https://res.cloudinary.com/dulupp7yk/image/upload/v1684114573/torresdehanoi/fondo_pc3jeh.jpg);
}
html {
    font-size: 16px;
}
body {
    overscroll-behavior: contain;
    background-image: var(--urlFondo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'SuperMario', sans-serif;
}
.contenedor {
    padding: 1vw;
    width: 100%;
    height: 100%;
    background-color: #e5c68d;
    background-image: var(--urlFondo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: .8rem;
}

.contenedorGanador {
    padding: 1vw;
    width: 100%;
    height: 100%;
    background-image: var(--urlFondo);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenedor div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor button {
    text-align: center;
    margin: 10px;
}

#ventanaGanador {
    color: black;
    font-size: 1.3rem;
    text-align: center;
}

#ventanaGanador img {
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
    border: 5px solid white;
    margin: 2rem;
}

#gif-winner {
    height: 18rem;
    background-size: cover;
}


.contenedor img:hover {
    transform: scale(1.1);
    rotate: 360deg;
    transition: all 0.5s;
    cursor: pointer;
}

.tableEstadisticas {
    display: flex;
    flex-direction: column;
}


/*TORRES DE HANOI*/
.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.containerTittle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}


.containerTittle h1 {
    letter-spacing: .2rem;
    font-size: 6rem;
    margin: 1rem;
    text-align: center;
    padding: .2rem;
    border-width: 2px 0;
    border-style: solid;
    border-color: black transparent;
}

.containerTiempo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;

}

.containerTiempo p {
    font-size: 2rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.324);
    border-radius: 10px;
    letter-spacing: .3rem;
    border-width: 2px 0;
    border-style: solid;
    border-color: grey transparent;
}

.containerTorres {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.torre {
    width: 12rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.324);
    border-radius: 20px;

}

.torre:hover {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5), 0 0 0 8px rgba(75, 75, 75, 0.1);
    transition: all 0.5s;
}

.disco {
    border: 2px solid black;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}

.disco:hover {
    cursor: pointer;
}


#btnRanking {

    height: 5rem;
}

/*MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#containerSearchDiscos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
}
#tbodyRanking td{
    color: rgb(56, 54, 46);
    font-weight: lighter;
}

#containerSearchDiscos select {
    width: 6rem;
}

@media screen and (max-width: 600px) {
    .contenedor {
        flex-direction: column-reverse;
    }

    .container {
        margin-top: 0;
    }

    .containerTittle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .containerTittle h1 {
        font-size: 3rem;
        margin: .3rem;
        border: 0px solid transparent;
        border-bottom: 2px solid black;
    }
    .containerTorres{
        font-size: 16px;
    }
    .torre {
        width: 12rem;
        height: 40vh;
        margin: 0 5px;
    }

    .torre:hover {
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.324);
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
        transition: none;
    }

}